{% extends "shop/bas.html" %}
{% load static %}
{% block title %}Диалоги{% endblock %}
{% block content %}   

<div class="chats">

    <div class="chats_chat">
        {% for chat in chat_list.all %}
        {% if chat != chat.chat_proect.chat %}
        <a href="{{ chat.get_absolute_url }}">
            
            {% for member in chat.members.all %}
            {% if member != request.user %}
            {% for profile in profiles.all %}
            {% if profile.user == member %}

            <img src="{% if profile.photo %}{{ profile.photo.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
            {% endif %}
            {% endfor %}

            {{ member }}

            {% endif %}
            {% endfor %}
        </a>

        {{ chat.chat.last.message }}  {{ chat.chat.last.pub_date|date:"d.m.Y H:i" }}

        {% endif %}
        {% endfor %}

    </div>
        
</div>


{% endblock %} 