{% if product in cart.value %}
                    <button class="cart">
                        <a href="{% url "cart:cart_detail" %}">Товар добавлен в корзину</a>
                    </button>
                    {% else %}
                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <input type="submit" value='Добавить в корзину'>
                    </form> 
                    {% endif %}
                        <h4>{% else %}Товара нет в наличии{% endif %}</h4>
                        
                    {% if product in favourite.color %}    
                    <form class="favourite" action="{% url "favourite:favourite_add_remove" product.id %}" method="post">
                        {{ favourite_product_form }}
                        {% csrf_token %}
                        <input type="submit" value="♥">
                    </form> 
                    {% else %}
                    <form action="{% url "favourite:favourite_add_remove" product.id %}" method="post">
                        {{ favourite_product_form }}
                        {% csrf_token %}
                        <input type="submit" value="♥">
                    </form> 
                    {% endif %} 