{% extends "shop/bas.html" %}
{% load static %}
{% block title %}Корзина {{ request.user.username }}{% endblock %}
{% block content %} 

{% if cart_user|length > 0 %}

<div class="cart">
    <table class="cart_table">
        <tbody>
            {% for item in cart_user %}
            {% with product=item.product %}
            <tr class='{{ product.id }}'>
                <td class="cart_table_item">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                    <a class="cart_table_item_name" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                </td>
                <td class="cart_table_btns">
                    <button class="minus" data-id="{{ product.id }}" data-action="minus">
                        -
                    </button> 
                    <span id='{{ product.id }}'>{{ item.quantity }}</span>
                    <button class="plus" data-id="{{ product.id }}" data-action="plus">
                        +
                    </button>
                </td>

                <td class='{{ product.id }}'><span class="item_price">{{ item.price }}</span> RUB/шт.</td>
                <td class='{{ product.id }}'>= <span class="item_total_price">{{ item.total_price }}</span> RUB</td>
                {% if product.quantity_pr > item.quantity %}
                <td class="num" hidden>Q {{ product.quantity_pr }}</td>
                {% else %}
                <td class="num"><div class="error_quantity">Q {{ product.quantity_pr }}</div></td>
                <td><span>Вы добавили максимально доступное количество товара</span></td>
                {% endif %}
                <td class="cart_table_remove">
                    <button class="remove" data-id="{{ product.id }}" data-action="remove">x</button>
                </td>
            </tr>
                {% endwith %}
                {% endfor %}
            <tr class="cart_table_total">
                <td colspan="5"></td>
                <td class="total">итого [ <span class="total_price">{{ cart_user.get_total_price }}</span> RUB ]</td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td class="cart_table_order"><a href="{% url "orders:order_create" %}"><button>оформить заказ</button></a></td>
            </tr>
        </tbody>
    </table>
</div>

{% else %}
<div class="cart">
    <span>Корзина пуста</span>
    <a href="{% url "shop:product_list" %}" class="button light">продолжить покупки</a>
</div>
{% endif %}
                
{% endblock %}


{% block domready %}

$('button.plus').click(function(e){
    e.preventDefault();
    var product_add = event.target;
    $.post('{% url "cart:cart_add_product" %}',
        {
        id: $(product_add).data('id'),
        action: $(product_add).data('action'),
        },
        function(data){
            if (data['status'] == 'ok')
            { 
                var previous_add = parseInt($('a.navbar_btns_cart span').text());
                $('a.navbar_btns_cart span').text(previous_add + 1);

                var pr_id = $(product_add).data('id');

                var previous_add_quatity = parseInt($('span#' + pr_id).text());
                $('span#' + pr_id).text(previous_add_quatity + 1);

                var item_price = parseInt($('td.' + pr_id + ' ' + 'span.item_price').text());
                var total_price = parseInt($('span.total_price').text());
                ($('td.' + pr_id + ' ' + 'span.item_total_price').text(item_price +  parseInt($('td.' + pr_id + ' ' + 'span.item_total_price').text())));
                ($('span.total_price').text(total_price + item_price));
            }
        });
    });

$('button.minus').click(function(e){
    e.preventDefault();
    var product_add = event.target;
    $.post('{% url "cart:cart_add_product" %}',
        {
        id: $(product_add).data('id'),
        action: $(product_add).data('action'),
        },
        function(data){
            if (data['status'] == 'ok')
            {
                var pr_id = $(product_add).data('id');
                var previous_add = parseInt($('a.navbar_btns_cart span').text());
                if  (parseInt($('span#' + pr_id).text()) > 1){

                    $('a.navbar_btns_cart span').text(previous_add - 1);
                    $('span#' + pr_id).text(parseInt($('span#' + pr_id).text()) - 1);

                    var item_price = parseInt($('td.' + pr_id + ' ' + 'span.item_price').text());
                    var total_price = parseInt($('span.total_price').text());
                    ($('td.' + pr_id + ' ' + 'span.item_total_price').text(parseInt($('td.' + pr_id + ' ' + 'span.item_total_price').text()) - item_price));
                    ($('span.total_price').text(total_price - item_price));
                    
                }else{
                    if (parseInt($('a.navbar_btns_cart span').text()) > 1){
                        var item_price = parseInt($('td.' + pr_id + ' ' + 'span.item_price').text());
                        ($('span.total_price').text(parseInt($('span.total_price').text()) - item_price));
                        $('tr.' + pr_id).replaceWith(''); 
                        $('a.navbar_btns_cart span').text(previous_add - 1);   
                    }else{
                        var previous_add = parseInt($('a.navbar_btns_cart span').text());
                        var previous_quantity = parseInt($('span#' + pr_id).text());
                        $('a.navbar_btns_cart span').text(previous_add - previous_quantity);
                        $('div.cart').replaceWith('<div class="cart"><span>Теперь здесь пусто...</span><a href="{% url "shop:product_list" %}">продолжить покупки</a></div>'); 
                    }                 
                }
            }
        });
    });

$('button.remove').click(function(e){
    e.preventDefault();
    var product_remove = event.target;
    $.post('{% url "cart:cart_add_product" %}',
        {
        id: $(product_remove).data('id'),
        action: $(product_remove).data('action'),
        },
        function(data){
            if (data['status'] == 'ok')
            {
                if (parseInt($('a.navbar_btns_cart span').text()) > 1){
                    var pr_id = $(product_remove).data('id');
                    var previous_add = parseInt($('a.navbar_btns_cart span').text());
                    var previous_quantity = parseInt($('span#' + pr_id).text());
                    var item_total_price = parseInt($('td.' + pr_id + ' ' + 'span.item_total_price').text());
                    var total_price = parseInt($('span.total_price').text());

                    $('tr.' + pr_id).replaceWith(''); 
                    $('a.navbar_btns_cart span').text(previous_add - previous_quantity);
                    ($('span.total_price').text(total_price - item_total_price))
                }else{
                    var pr_id = $(product_remove).data('id');
                    var previous_add = parseInt($('a.navbar_btns_cart span').text());
                    var previous_quantity = parseInt($('span#' + pr_id).text());
                    $('a.navbar_btns_cart span').text(previous_add - previous_quantity);
                    $('div.cart').replaceWith('<div class="cart"><span>Теперь здесь пусто...</span><a href="{% url "shop:product_list" %}">продолжить покупки</a></div>'); 
                }
            }
        });
    });
{% endblock %}