{% extends "shop/bas.html" %}
{% load static %}
{% block title %}{{ profile.user.username }}{% endblock %}
{% block content %}      						
	
<div class="profile">

    <div class="profile_info">
        <div class="profile_info_photo">
            <img src="{% if profile.photo %}{{ profile.photo.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </div>

        <div class="profile_info_center">

            <div class="profile_info_center_name">
                <span class="profile_info_name_username">{{ profile.user.username }}</span><br>
                <span>{{ profile.user.first_name }} {{ profile.user.last_name }}</span>
            </div>

            <div class="profile_info_chat_button">
                {% for chat in chatss %}
                    {% if request.user in chat.members.all %}
                    <a href="{{ chat.get_absolute_url }}">
                        <button class="write_message_ready">
                            Написать сообщение
                        </button>
                    </a>
                    {% endif %}
                {% empty %}
                    <button class="write_message">
                        Написать сообщение
                    </button>
                    <form class="message" hidden="true" method="post" data-name="{{ request.user.username }}-{{ profile.user.username }}" data-member='{{ profile.user.id }}'>
                        <textarea name="body" cols="40" rows="10" required></textarea>
                        <input class="message" type="file" title="Add image">
                        <input type="submit" value="Send">
                    </form>
                {% endfor %}
            </div>

            <div class="profile_info_subs_button">
                <button  class="subscribe" data-id="{{ profile.id }}" data-action="{% if request.user in profile.subscribers.all %}un{% endif %}subscribe">
                        {% if request.user not in profile.subscribers.all %}
                                подписаться
                        {% else %}
                                отписаться
                        {% endif %}
                </button>
            </div>

            <div class="profile_info_subs">
                <div>
                    <a href="#profile_zatemnenie_subscribe">подписки [{{ subscribe.count }}]</a>
                    <div id="profile_zatemnenie_subscribe">
                        <div class="profile_subscribe">
                            <a href="#" class="profile_close">x</a>
                            {% for subscribe in subscribe.all %}
                            <span>{{ subscribe.user }}</span>
                            {% endfor  %}
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#profile_zatemnenie_subscribers">подписчики [<span class="{{ profile.id }}">{{ profile.subscribers.count }}</span>]</a>
                    <div id="profile_zatemnenie_subscribers">
                        <div class="profile_subscribers">
                            <a href="#" class="profile_close">x</a>
                            {% for subscriber in profile.subscribers.all %}
                            <span>{{ subscriber }}</span>
                            {% endfor  %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
        
    <div class="profile_descr">
        <span>{{ profile.about }}</span>

        <div class="dashboard_categories">
            {% for category in profile.category.all %}
            <a href="{{ category.get_absolute_url }}">{{ category }}</a>
            {% endfor %}
        </div>
    </div>

    
    <div class="profile_grid">

        <div class="profile_grid_products">
            <div class="profile_grid_products_top">
                <span >товары</span>
            </div>

            <div class="profile_grid_products_items">
                {% for product in products %}
                <div class="profile_grid_products_item">
                    <div class="profile_grid_products_item_photo">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                        </a>
                    </div>
                    <a href="{{ product.get_absolute_url }}">{{ product|truncatechars:15 }}</a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="profile_grid_ann">
            <div class="profile_grid_ann_top">
                <span>объявления</span>
            </div>

            <div class="profile_grid_ann_items">
                {% for announcement in announcements %}
                <div class="profile_grid_ann_item">
                    <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="profile_grid_posts">
            <div class="profile_grid_posts_top">
                <span>статьи</span>
            </div>

            <div class="profile_grid_posts_items">
                {% for post in posts %}
                <div class="profile_grid_posts_item">
                    <a href="{{ post.get_absolute_url }}">{{ post }}</a>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

</div>
						

{% endblock %}       

{% block domready %}

$('button.write_message').click(function(e){
    e.preventDefault();
    $('form.message').removeAttr("hidden");
    $('form.message').on("submit", function(e){
        e.preventDefault();
        $.post('{% url "chats:new_chat" %}',
            {
            name: $('form.message').data('name'),
            data: $('form.message textarea').val(),
            member: $('form.message').data('member'),
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    $('button.write_message').replaceWith('');
                    $('form.message').replaceWith('Сообщение отправлено');
                }
            });
        });
    });

$('button.subscribe').click(function(e){
    e.preventDefault();
    var subscribe = event.target;
    $.post('{% url "subscribe" %}',
        {
        id: $(subscribe).data('id'),
        action: $(subscribe).data('action')
        },
        function(data){
            if (data['status'] == 'ok')
            {
                var previous_action = $(subscribe).data('action');
                var pr_id = $(subscribe).data('id');
  
                $(subscribe).data('action', previous_action == 'subscribe' ? 'unsubscribe' : 'subscribe');
                $(subscribe).text(previous_action == 'subscribe' ? 'отписаться' : 'подписаться');
                
                var previous_subscribe = parseInt($('span.' + pr_id).text());
                $('span.' + pr_id).text(previous_action == 'subscribe' ? previous_subscribe + 1 : previous_subscribe - 1);
            }
        });
    });

{% endblock %}