{% extends "shop/bas.html" %}
{% load static %}
{% block title %}{{ profile.user.username }}{% endblock %}
{% block content %}      						
	
<div class="profile-detail">

	{% load thumbnail %}
    {% thumbnail profile.photo "200" as im %}
    <img src="{% if profile.photo %}{{ im.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
    {% endthumbnail %}

    <h1>{{ profile.username }}</h1>
    <span>{{ profile.user.first_name }}</span>
    <span>{{ profile.user.last_name }}</span>
    <p>{{ profile.date_of_birth }}</p>

    подписки <span>{{ subscribe.count }}</span><button class="open_subscribe">▼</button>
    <div class="subscribe" hidden='true'>
        {% for subscribe in subscribe.all %}
        {{ subscribe.user }}
        {% endfor  %}
    </div><br>
    подписчики <span class="{{ profile.id }}">{{ profile.subscribers.count }}</span>
    <button class="open_subscribers">▼</button>
    <div class="subscribers" hidden='true'>
        {% for subscriber in profile.subscribers.all %}
        {{ subscriber }}
        {% endfor  %}
    </div>
	<button data-id="{{ profile.id }}" data-action="{% if request.user in profile.subscribers.all %}un{% endif %}subscribe" class="subscribe">
			{% if request.user not in profile.subscribers.all %}
					Subscribe
			{% else %}
					Unsubscribe
			{% endif %}
	</button><br>
		
    {% for category in profile.category.all %}
    <a href="{{ category.get_absolute_url }}"><span>{{ category }}</span></a><br>
    {% endfor %}

    {% for chat in chatss %}
    {% if request.user in chat.members.all %}
    <button class="write_message_ready">
        <a href="{{ chat.get_absolute_url }}">Написать сообщение</a>
    </button>
    {% endif %}
    {% empty %}
    <button class="write_message">
        <a href="#">Написать сообщение</a>
    </button>
    <form class="message" hidden="true" method="post" data-name="{{ request.user.username }}-{{ profile.user.username }}" data-member='{{ profile.user.id }}'>
        <textarea name="body" cols="40" rows="10" required></textarea>
        <input class="message" type="file" title="Add image">
        <input type="submit" value="Send">
    </form>
    {% endfor %}
    
    <p>{{ profile.about|linebreaks }}</p>

    <p>статьи</p>
    {% for post in posts %}
    <a href="{{ post.get_absolute_url }}"><span>{{ post }}</span></a>
    {% endfor %}

    <p>товары</p>
    {% for product in products %}
    <a href="{{ product.get_absolute_url }}"><span>{{ product }}</span></a>
    {% endfor %}

    <p>объявления</p>
    {% for announcement in announcements %}
    <a href="{{ announcement.get_absolute_url }}"><span>{{ announcement }}</span></a>
    {% endfor %}
    
    {% if profile.user == request.user %}
    <a href='{% url "orders:order_list" %}'><p>заказы</p></a>
    {% endif %}

</div>
						

{% endblock %}       

{% block domready %}

$('button.write_message').click(function(e){
    e.preventDefault();
    $('form.message').removeAttr("hidden");
    $('form.message').on("submit", function(e){
        e.preventDefault();
        $.post('{% url "chats:new_chat" %}',
            {
            name: $('form.message').data('name'),
            data: $('form.message textarea').val(),
            member: $('form.message').data('member'),
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    $('button.write_message').replaceWith('');
                    $('form.message').replaceWith('Сообщение отправлено');
                }
            });
        });
    });

$('button.subscribe').click(function(e){
    e.preventDefault();
    var subscribe = event.target;
    $.post('{% url "subscribe" %}',
        {
        id: $(subscribe).data('id'),
        action: $(subscribe).data('action')
        },
        function(data){
            if (data['status'] == 'ok')
            {
                var previous_action = $(subscribe).data('action');
                var pr_id = $(subscribe).data('id');
  
                $(subscribe).data('action', previous_action == 'subscribe' ? 'unsubscribe' : 'subscribe');
                $(subscribe).text(previous_action == 'subscribe' ? 'Unsubscribe' : 'Subscribe');
                
                var previous_subscribe = parseInt($('span.' + pr_id).text());
                $('span.' + pr_id).text(previous_action == 'subscribe' ? previous_subscribe + 1 : previous_subscribe - 1);
            }
        });
    });

$('button.open_subscribers').click(function(e){
    e.preventDefault();
    $('div.subscribers').removeAttr("hidden");
    });
$('button.open_subscribe').click(function(e){
    e.preventDefault();
    $('div.subscribe').removeAttr("hidden");
    });    
{% endblock %}