{% extends "shop/bas.html" %}
{% load static %}
{% block title %}Profiles{% endblock %}
{% block content %}   

<div class="profiles">
    <div class="categories">
        <span {% if not category %} class="selected" {% endif %}><a href="{% url "profile_list" %}">все</a></span>
        {% for c in categories %}
            <span {% if category.slug == c.slug %} class="selected" {% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </span>
        {% endfor %}
    </div>
        
    <div class="profiles_list">
        
        {% for profile in profiles %}
            
            {% if profile.user != request.user %}
                <div class="profiles_list_profile">
                    
                    <div class="photo">
                        <a class="name" href="{{ profile.get_absolute_url }}"><img src="{% if profile.photo %}{{ profile.photo.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"></a>
                    </div>

                    <a class="name" href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a><br> 

                    {% for category in profile.category.all %}
                    <a class="category" href="{{ category.get_absolute_url }}">{{ category }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            
        {% endfor %}
    </div>
        
</div>					

{% endblock %} 