{% extends "shop/bas.html" %}

{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}      						
	
<div class="product-detail">
	<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
	<h1>{{ product.name }}</h1>
	<h6><a href="{{ product.category.get_absolute_url }}">{{product.category }}</a></h6>
	{% if product.quantity_pr > 0 %}
		RUB {{ product.price }}
		Q{{ product.quantity_pr }}</br>
					
	{% if product in cart.value %}
	<button class="">
			<a href="{% url "cart:cart_detail" %}">Товар добавлен в корзину</a>
	</button>
	{% else %}

	<button class="add" data-id="{{ product.id }}" data-action="{% if product in cart.value %}cart{% endif %}add">
		Добавить в корзину
	</button> 

	{% endif %} 
	<h4>{% else %}Товара нет в наличии{% endif %}</h4>

	{% with total_likes=product.users_like.count users_like=product.users_like.all %}

	<span class="{{ product.id }}">{{ total_likes }}</span>
	<button data-id="{{ product.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
			{% if request.user not in users_like %}
					Like
			{% else %}
					Unlike
			{% endif %}
	</button>
		
	{% endwith%}   

	{{ product.description|linebreaks }}

	{% with comments.count as total_comments %}
	<span class="count_comments">{{ total_comments }}</span><span> comment{{ total_comments|pluralize }}</span>
	{% endwith %}

	{% for comment in comments %}
	<div class="comment">
		<p class="info">
			Comment by {{ comment.author.first_name }}
			{{ comment.created }}
		</p>
		<span class="body">{{ comment.body|linebreaks }}</span>
		{{ comment.image }}
		
		{% if comment.author == request.user %}
		<a href="" data-body="{{ comment.body }}" data-id="{{ product.id }}" data-action="remove" class="remove">удалить</a>
		<a href="" data-id="{{ product.id }}" data-action="edit" class="edit">редактировать</a>
		{% endif %}
	</div>

	{% empty %}
	<p>There are no comments yet...</p>

	{% endfor %}

	<div class="new_comment"></div>

	<form class="comment" method="post" data-id="{{ product.id }}">
		<textarea name="body" cols="40" rows="10" required></textarea>
		<input class="comment" type="file" title="Add image">
		<input type="submit" value="Add comment">
	</form>

</div>
						

{% endblock %}       

{% block domready %}

$('button.like').click(function(e){
    e.preventDefault();
    var product_like = event.target;
    $.post('{% url "likes:product_like" %}',
        {
        id: $(product_like).data('id'),
        action: $(product_like).data('action')
        },
        function(data){
            if (data['status'] == 'ok')
            {
                var previous_action = $(product_like).data('action');
                var pr_id = $(product_like).data('id');
  
                $(product_like).data('action', previous_action == 'like' ? 'unlike' : 'like');
                $(product_like).text(previous_action == 'like' ? 'Unlike' : 'Like');
                
                var previous_likes = parseInt($('span.' + pr_id).text());
                $('span.' + pr_id).text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);

                var previous_liked = parseInt($('button.liked a').text());
                $('button.liked a').text(previous_action == 'like' ? previous_liked + 1 : previous_liked - 1);
            }
        });
    });

$('button.add').click(function(e){
	e.preventDefault();
	var product_add = event.target;
	$.post('{% url "cart:cart_add_product" %}',
		{
		id: $(product_add).data('id'),
		action: $(product_add).data('action'),
		},
		function(data){
			if (data['status'] == 'ok')
			{
				$(product_add).replaceWith('<button disabled><a href="{% url "cart:cart_detail" %}">Товар добавлен в корзину</a></button>');  
				
				var previous_add = parseInt($('button.cart a').text());
                $('button.cart a').text(previous_add + 1);
					
			}
		});
	});

$('form.comment').on("submit", function(e){
	e.preventDefault();
	$.post('{% url "shop:product_add_comment" %}',
		{
		id: $(this).data('id'),
		data: $('form.comment textarea').val(),
		image: $('form.comment input.comment').val(),
		},
		function(data){
			if (data['status'] == 'ok')
			{
				var name = $('a.name').text()
				var myDate = new Date();
				var fullDate = myDate.getDate() +" "+ myDate.getMonth() +" " + myDate.getFullYear();
				$('div.new_comment').replaceWith('<div class="comment"><p class="info">Comment by'+' '+name+' '+fullDate+'</p><p>'+$('form.comment textarea').val()+'</p></div><div class="new_comment"></div>');
				$('form.comment textarea').val('')
				$('span.count_comments').text(parseInt($('span.count_comments').text())+1)
			}
		});
	});

$('div.comment').click(function(e){
	e.preventDefault();
	var remove = event.target;
	$.post('{% url "shop:product_add_comment" %}',
		{
		id: $(remove).data('id'),
		action: $(remove).data('action'),
		body: $(remove).data('body'),
		},
		function(data){
			if (data['status'] == 'ok')
			{
				var parent = $(remove).parent('.comment');
				parent.replaceWith('<p>Ваш комментарий удален</p>');
				$('span.count_comments').text(parseInt($('span.count_comments').text())-1)	
			}
		});
	});


{% endblock %}