{% extends "shop/bas.html" %}
{% load static %}
{% block title %}{% if category %}{{ category.name }}{% else %}Products{% endif %}{% endblock %}
{% block content %}   

<div class="products_list">
 
    <div class="products_list_search">
        <form class="products_list_search_form" method="post">
            <textarea name="s" rows="1" placeholder="Поиск товара..." required></textarea>
            {% csrf_token %}
            <button type="submit"><svg viewBox="0 0 512 512"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg>
            </button>
        </form>
        <div class="products_list_find"></div>
    </div>

    <div class="products_list_categories">
        <span>Категории</span>
        <span {% if not category or price_type or type_pr %}class="selected"{% endif %}><a href="{% url "shop:product_list" %}">все</a></span>
        {% for c in categories %}
            <span {% if category.slug == c.slug %}class="selected" {% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </span>
        {% endfor %}
        {% for p in price_types %}
            <span {% if price_type.slug == p.slug %}class="selected" {% endif %}>
                <a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
            </span>
        {% endfor %}
        {% for t in type_prs %}
            <span {% if type_pr.slug == t.slug %}class="selected" {% endif %}>
                <a href="{{ t.get_absolute_url }}">{{ t.name }}</a>
            </span>
        {% endfor %}
    </div>


    <div class="products_list_items">

        {% for product in products %}

        <div class="products_list_items_item">
            <div class="products_list_items_item_photo">
                <a href="{{ product.get_absolute_url }}">
                    {% if product.image %}
                        <img src="{{ product.image.url }}">
                    {% else %}
                        <img src="{% static "img/no_image.png" %}">
                    {% endif %}
                </a>
            </div>
            <div class="products_list_items_item_info">

                <div class="name">

                    <a class="products_list_items_item_info_name" href="{{ product.get_absolute_url }}" class="product_name">{{ product.name }}</a>

                    <div class="products_list_items_item_info_like">
                        [<span class={{ product.id }}>{{ product.users_like.count }}</span>]
                        {% if request.user not in product.users_like.all %}
                            {% if request.user.is_authenticated %}
                                <svg class="products_list_items_item_info_like_btn" viewBox="0 0 512 512"><path data-id="{{ product.id }}" data-action="{% if request.user in product.users_like.all %}un{% endif %}like"  d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>
                            {% else %}
                                <svg class="products_list_items_item_info_like_btn" viewBox="0 0 512 512"><path data-id="{{ product.id }}" data-action="{% if request.user in product.users_like.all %}un{% endif %}like" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>
                            {% endif %}
                        {% else %}
                            <svg class="products_list_items_item_info_like_btn_selected" viewBox="0 0 512 512"><path data-id="{{ product.id }}" data-action="{% if request.user in product.users_like.all %}un{% endif %}like" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>
                        {% endif %}
                    </div>

                </div>

                <div class="info">
                    {% if product.price_type.id == 1 %}
                    {% if product.quantity_pr > 0 %}

                    RUB {{ product.price }}
                    Q{{ product.quantity_pr }}
                
                    {% if product in cart.value or product in cart_user.products %}
                        <a href="{% url "cart:cart_detail" %}">
                            <button>перейти в корзину</button>
                        </a>
                    {% else %}

                    <button class="add" data-id="{{ product.id }}" data-action="{% if product in cart.value %}cart{% endif %}add">
                        в корзину
                    </button> 

                    {% endif %}
                    {% else %}<span>Товара нет в наличии</span> {% endif %}
                    {% endif %}

                    {% if product.price_type.id == 3 %}
                    <span>от RUB {{ product.price }}</span>
                    <a href=""><button>скачать</button></a>
                    {% endif %}                    
                </div>
            </div>
        </div>
              
        {% endfor%}

    </div>
</div>
{% endblock %}


{% block domready %}

$('div.products_list_items_item_info_like path').click(function(e){
    e.preventDefault();
    var product_like = event.target;
    $.post('{% url "likes:product_like" %}',
        {
        id: $(product_like).data('id'),
        action: $(product_like).data('action')
        },
        function(data){
            if (data['status'] == 'ok')
            {
                var previous_action = $(product_like).data('action');
                var pr_id = $(product_like).data('id');
  
                $(product_like).data('action', previous_action == 'like' ? 'unlike' : 'like');
                $(product_like).text(previous_action == 'like' ? $(product_like).css("fill", "#9d2c2c") : $(product_like).css("fill", "#dcdcdc"));
                
                var previous_likes = parseInt($('span.' + pr_id).text());
                $('span.' + pr_id).text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);

                var previous_liked = parseInt($('a.navbar_frame_btns_likes span').text());
                $('a.navbar_frame_btns_likes span').text(previous_action == 'like' ? previous_liked + 1 : previous_liked - 1);
                $('a.navbar_frame_btns_likes span').removeAttr('hidden');
            }
        });
    });

$('button.add').click(function(e){
    e.preventDefault();
    var product_add = event.target;
    $.post('{% url "cart:cart_add_product" %}',
        {
        id: $(product_add).data('id'),
        action: $(product_add).data('action'),
        },
        function(data){
            if (data['status'] == 'ok')
            {
                $(product_add).replaceWith('<a href="{% url "cart:cart_detail" %}"><button disabled>Товар добавлен в корзину</button></a>');  
                 
                var previous_add = parseInt($('a.navbar_frame_btns_cart span').text());
                $('a.navbar_frame_btns_cart span').text(previous_add + 1);
                $('a.navbar_frame_btns_cart span').removeAttr('hidden');
            }
        });
    });

$('form.products_list_search_form').on('input', (function() {
    if ($('form.products_list_search_form textarea').val().length >= 1) {
        $.post('{% url "shop:product_s" %}',
            {
                s: $('form.products_list_search_form textarea').val(),
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    $('div.products_list_find').html('');
                    for (let value of data['products']) 
                    {
                        $('div.products_list_find').append('<a href="#" class="f">'+value+'</a><br>');
                    }
                    for (let value of data['authors']) 
                    {
                        $('div.products_list_find').append('<a href="#" class="f">'+value+'</a><br>');
                    }
                    $('a.f').click(function(){
                        $('form.products_list_search_form textarea').val($(this).text());
                        $('form.products_list_search_form').trigger("submit");
                    });
                }
            });
        }
    else { $('div.products_list_find').text(''); }
    }));


$('form.products_list_search_form').on("submit", function(){
    $.post('{% url "shop:product_list" %}',
        {
        s: $('form.products_list_search_form textarea').val(),
        });
    });

{% endblock %}
