{% extends "shop/bas.html" %}

{% load static %}

{% block title %}{% if category %}{{ category.name }}{% else %}Products{% endif %}{% endblock %}

{% block content %}   

<div class="list">
    <h3>категории</h3>
    <ul>
        <li {% if not category %}class="selected"{% endif %}><a href="{% url "shop:product_list" %}">все</a>
        </li>
        {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected" {% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>



<div class="product-list">

    <h3>{% if category %}{{ category.name }}{% else %}товары{% endif %}</h3>

    {% for product in products %}

    <div class="item">
        <a href="{{ product.get_absolute_url }}"><img src="{% if product.image %}{{ product.image.url }}{%else %}{% static "img/no_image.png" %}{% endif %}"></a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
        {% if product.quantity_pr > 0 %}
        RUB {{ product.price }}
        Q{{ product.quantity_pr }}<br>

        {% if product in cart.value %}
        <button class="">
            <a href="{% url "cart:cart_detail" %}">Товар добавлен в корзину</a>
        </button>
        {% else %}

        <button class="add" data-id="{{ product.id }}" data-action="{% if product in cart.value %}cart{% endif %}add">
            Добавить в корзину
        </button> 

        {% endif %}
        <h4>{% else %}Товара нет в наличии{% endif %}</h4>  
    </div>

    {% with total_likes=product.users_like.count users_like=product.users_like.all %}
    <div class="product-like">
        <span class={{ product.id }}>{{ total_likes }}</span>
        <button data-id="{{ product.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like">
            {% if request.user not in users_like %}
                {% if request.user.is_authenticated %}
                    Like
                {% else %}
                    Like
                {% endif %}
            {% else %}
            Unlike
            {% endif %}
        </button>
    </div>                  

    {% endwith%}   

    {% endfor%}

</div>

{% endblock %}




{% block domready %}

$('button.like').click(function(e){
    e.preventDefault();
    var product_like = event.target;
    $.post('{% url "likes:product_like" %}',
        {
        id: $(product_like).data('id'),
        action: $(product_like).data('action')
        },
        function(data){
            if (data['status'] == 'ok')
            {
                var previous_action = $(product_like).data('action');
                var pr_id = $(product_like).data('id');
  
                $(product_like).data('action', previous_action == 'like' ? 'unlike' : 'like');
                $(product_like).text(previous_action == 'like' ? 'Unlike' : 'Like');
                
                var previous_likes = parseInt($('span.' + pr_id).text());
                $('span.' + pr_id).text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);

                var previous_liked = parseInt($('button.liked a').text());
                $('button.liked a').text(previous_action == 'like' ? previous_liked + 1 : previous_liked - 1);
            }
        });
    });

$('button.add').click(function(e){
    e.preventDefault();
    var product_add = event.target;
    $.post('{% url "cart:cart_add_product" %}',
        {
        id: $(product_add).data('id'),
        action: $(product_add).data('action'),
        },
        function(data){
            if (data['status'] == 'ok')
            {
                $(product_add).replaceWith('<button disabled><a href="{% url "cart:cart_detail" %}">Товар добавлен в корзину</a></button>');  
                 
                var previous_add = parseInt($('button.cart a').text());
                $('button.cart a').text(previous_add + 1);
            }
        });
    });

{% endblock %}
