{% extends "shop/bas.html" %}
{% load static %}
{% block title %}{{ announcement.title }}{% endblock %}
{% block content %}   

<div class="announcement">
    <div class="announcement_info">

        <div class="announcement_info_photo">
            <img src="{% if announcement.image %}{{ announcement.image.url }}{%else %}{% static "img/no_image.png" %}{% endif %}">
        </div>

        <div class="announcement_info_text">
            <div class="announcement_info_text_like">
                [<span class='{{ announcement.id }}'>{{ announcement.likes.count }}</span>]
                
                {% if request.user not in announcement.likes.all %}
                    {% if request.user.is_authenticated %}
                        <svg class="announcement_info_text_like_star" viewBox="0 0 576 512"><path data-id="{{ announcement.id }}" data-action="{% if request.user in announcement.likes.all %}un{% endif %}like" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                    {% else %}
                        <svg class="announcement_info_text_like_star" viewBox="0 0 576 512"><path data-id="{{ announcement.id }}" data-action="{% if request.user in announcement.likes.all %}un{% endif %}like" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                    {% endif %}
                {% else %}
                    <svg class="announcement_info_text_like_star_selected" viewBox="0 0 576 512"><path data-id="{{ announcement.id }}" data-action="{% if request.user in announcement.likes.all %}un{% endif %}like" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                {% endif %}
                
            </div> 

            <div class="announcement_info_text_detail">
                <span class="announcement_info_text_detal_title">{{ announcement.title }}</span>

                
                {% for c in announcement.category.all %}
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                {% endfor %}

                <div class="announcement_info_text_detal_message">
                    {% if request.user != announcement.author_ann %}
                    {% for chat in chatss %}
                        {% if request.user in chat.members.all %}
                        <a href="{{ chat.get_absolute_url }}">
                            <button class="write_message_ready">откликнуться</button>
                        </a>
                        {% endif %}
                    {% empty %}
                    <button class="write_message">
                        <a href="#">Написать сообщение</a>
                    </button>
                    <form class="message" hidden="true" method="post" data-name="{{ request.user.username }}-{{ profile.user.username }}" data-member='{{ profile.user.id }}'>
                        <textarea name="body" cols="40" rows="10" required></textarea>
                        <input class="message" type="file" title="Add image">
                        <input type="submit" value="Send">
                    </form>
                    {% endfor %}
                    {% endif %}
                </div>
                
                <span class="announcement_info_text_detal_date">
                    {{ announcement.created|date:"d.m.Y H:i" }}
                    {% if announcement.author_ann != request.user %}
                        <a href="{{ profile.get_absolute_url }}">{{ announcement.author_ann }}</a>
                    {% else %}
                        <a href="{% url "dashboard" %}">{{ announcement.author_ann }}</a>
                    {% endif %}
                </span>

            </div> 
        </div>
    </div>
    <div class="announcement_body">
        <p>{{ announcement.body }}</p>
    </div>
</div>
  

<div class="ann_comment">
    <span class="ann_comment_count"><span class="ann_comment_count_comments">{{ comments.count }}</span> comment{{ comments.counts|pluralize }}</span>

    {% for comment in comments %}
    <div class="ann_comment_info">

		<div>
            <span>{{ comment.created|date:"d.m.Y H:i" }} {{ comment.author_comment_ann.username }}</span>
			{% if comment.author_comment_ann == request.user %}
			<a data-body="{{ comment.body }}" data-id="{{ announcement.id }}" data-action="remove" class="remove">удалить</a>
			{% endif %}
        </div>
        
        <p class="product_comment_info_body">{{ comment.body }}</p>

    </div>
    {% empty %}
    
    <p>There are no comments yet...</p>

    {% endfor %}

    <div class="new_comment"></div>


    <div class="ann_comment_form"> 
		<form class="comment" method="post" data-id="{{ announcement.id }}">
			<textarea placeholder="Напишите комментарий здесь..." rows="3" required></textarea>
			<button type="submit">отправить</button>
		</form>
	</div>
</div>

{% endblock %}

{% block domready %}

$('div.announcement_info_text_like path').click(function(e){
    e.preventDefault();
    var announcement_like = event.target;
    $.post('{% url "announcement:announcement_like" %}',
        {
        id: $(announcement_like).data('id'),
        action: $(announcement_like).data('action')
        },
        function(data){
            if (data['status'] == 'ok')
            {
                var previous_action = $(announcement_like).data('action');
                var pr_id = $(announcement_like).data('id');
  
                $(announcement_like).data('action', previous_action == 'like' ? 'unlike' : 'like');
                $(announcement_like).text(previous_action == 'like' ? $(announcement_like).css("fill", "#daa520") : $(announcement_like).css("fill", "#dcdcdc"));
                
                var previous_likes = parseInt($('span.' + pr_id).text());
                $('span.' + pr_id).text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
            }
        });
    });

$('form.comment').on("submit", function(e){
    e.preventDefault();
    $.post('{% url "announcement:announcement_add_comment" %}',
        {
        id: $(this).data('id'),
        data: $('form.comment textarea').val(),
        },
        function(data){
            if (data['status'] == 'ok')
            {
                var name = $('a.navbar_log_in_name').text()
                var myDate = new Date();
                var fullDate = myDate.getDate() +"."+ myDate.getMonth() +"." + myDate.getFullYear();
                $('div.new_comment').replaceWith('<div class="ann_comment_info"><span>'+fullDate+' '+name+'</span><span>'+$('form.comment textarea').val()+'</span></div><div class="new_comment"></div>');
                $('form.comment textarea').val('')
                $('span.ann_comment_count_comments').text(parseInt($('span.ann_comment_count_comments').text())+1)
            }
        });
    });

$('div.ann_comment_info a').click(function(e){
    e.preventDefault();
    var remove = event.target;
    $.post('{% url "announcement:announcement_add_comment" %}',
        {
        id: $(remove).data('id'),
        action: $(remove).data('action'),
        body: $(remove).data('body'),
        },
        function(data){
            if (data['status'] == 'ok')
            {
                var parent = $(remove).parent('.comment');
                parent.replaceWith('<p>Ваш комментарий удален</p>');
                $('span.ann_comment_count_comments').text(parseInt($('span.ann_comment_count_comments').text())-1)	
            }
        });
    });

{% endblock %}