{% extends "shop/bas.html" %}
{% load static %}
{% block title %}My Blog{% endblock %}
{% block content %} 
{% for post in posts %}
<h2>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
</h2>
<p class="date">Published {{ post.publish }} by {{ post.author }}</p>
<p>{{ post.body }}</p>

<span class="{{ post.title }}">{{ post.users_like.count }} ♥</span>
<span class="{{ post.title }}">{{ post.comments.count }} comment{{ post.comments.count|pluralize }}</span>

{% endfor %}
{% endblock %}
