{% extends "shop/bas.html" %}
{% load static %}
{% block title %}likes{% endblock %}
{% block content %} 

<div class="likes">
    <div class="likes_menu">
        <a href="#" class="likes_menu_products">products</a>
        <a href="#" class="likes_menu_posts">posts</a>
        <a href="#" class="likes_menu_announcements">announcements</a>
    </div>

    {% if not products_liked %}

    <span>Пока здесь пусто...</span> 
    Вы можете <a href="{% url "shop:product_list" %}" class="button">продолжить покупки</a>
    или <a href="{% url "register" %}">зарегистрироваться</a>, чтобы добавлять товары в избранное.

    {% else %}

    <div class="likes_products">
        {% for product in products_liked %}

        <div class="likes_products_item">

            <div class="likes_products_item_photo">
                <a href="{{ product.get_absolute_url }}">
                    {% if product.image %}
                        <img src="{{ product.image.url }}">
                    {% else %}
                        <img src="{% static "img/no_image.png" %}">
                    {% endif %}
                </a>
            </div>
            <div class="likes_products_item_info">
                <div class="likes_products_item_info_name">

                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>

                    <div class="likes_products_item_info_like">
                        [<span class={{ product.id }}>{{ product.users_like.count }}</span>]
                        {% if request.user not in product.users_like.all %}
                            {% if request.user.is_authenticated %}
                                <svg class="likes_products_item_info_like_btn" viewBox="0 0 512 512"><path data-id="{{ product.id }}" data-action="{% if request.user in product.users_like.all %}un{% endif %}like"  d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>
                            {% else %}
                                <svg class="likes_products_item_info_like_btn" viewBox="0 0 512 512"><path data-id="{{ product.id }}" data-action="{% if request.user in product.users_like.all %}un{% endif %}like" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>
                            {% endif %}
                        {% else %}
                            <svg class="likes_products_item_info_like_btn_selected" viewBox="0 0 512 512"><path data-id="{{ product.id }}" data-action="{% if request.user in product.users_like.all %}un{% endif %}like" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>
                        {% endif %}
                    </div>

                </div>

                <div class="likes_products_item_info_info">
                    {% if product.price_type.id == 1 %}
                    {% if product.quantity_pr > 0 %}

                    {{ product.price }} RUB
                    Q{{ product.quantity_pr }}
                
                    {% if product in cart.value or product in cart_user.products %}
                        {% if request.user.is_authenticated %}
                        <a href="{% url "cart:cart_detail_user" %}">
                            <button class="selected">в корзине</button>
                        </a>
                        {% else %}
                        <a href="{% url "cart:cart_detail" %}">
                            <button class="selected">в корзине</button>
                        </a>
                        {% endif %}
                    {% else %}

                    <button class="add" data-id="{{ product.id }}" data-action="{% if product in cart.value %}cart{% endif %}add">
                        в корзину
                    </button> 

                    {% endif %}
                    {% else %}<span>Товара нет в наличии</span> {% endif %}
                    {% endif %}

                    {% if product.price_type.id == 3 %}
                    <span>от {{ product.price }} RUB</span>
                    <a href="#"><button>скачать</button></a>
                    {% endif %}                    
                </div>  
            </div>   
        </div> 
        {% endfor%}
    </div>

    {% endif %}

    <div class="likes_posts">
        {% for post in post_liked %}
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="date">{{ post.publish }} 
            {% for profile in profiles %}
            {% if profile.user == post.author %}
            {% if post.author != request.user %}
                <a href="{{ profile.get_absolute_url }}">{{ post.author }}</a>
            {% else %}
                <a href="{% url "dashboard" %}">{{ post.author }}</a>
            {% endif %}
            {% endif %}
            {% endfor %}
            </p>
            <p>{{ post.body }}</p>
        
            <span class="{{ post.title }}">{{ post.users_like.count }} ♥</span>
            <span class="{{ post.title }}">{{ post.comments.count }} comment{{ post.comments.count|pluralize }}</span>
            <span class="{{ post.title }}">{{ post.bookmark.count }}
            <svg class="bi bi-bookmark" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 12l5 3V3a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12l5-3zm-4 1.234l4-2.4 4 2.4V3a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v10.234z"></path>
            </svg>
            </span>
        {% endfor %}
    </div>

    <div class="likes_ann">
        {% for announcement in ann_liked %}
            <div class="{{ announcement.id }}">
                <a href="{{ announcement.get_absolute_url }}"><img src="{% if announcement.image %}{{ announcement.image.url }}{%else %}{% static "img/no_image.png" %}{% endif %}"></a>
                <a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a><br>
                <p class="date">{{ announcement.created }} 
                    {% for profile in profiles %}
                        {% if profile.user == announcement.author_ann %}
                            {% if announcement.author_ann != request.user %}
                                <a href="{{ profile.get_absolute_url }}">{{ announcement.author_ann }}</a>
                            {% else %}
                                <a href="{% url "dashboard" %}">{{ announcement.author_ann }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </p>
                <p>{{ announcement.body }}</p>
                <span>{{ announcement.likes.count }} comments</span>
            

                <div class="announcement-like">
                    <span class='{{ announcement.id }}'>{{ announcement.likes.count }}</span>
                    <button data-id="{{ announcement.id }}" data-action="{% if request.user in announcement.likes.all %}un{% endif %}like" class="annlike">
                        {% if request.user not in announcement.likes.all %}
                            Like {% else %} Unlike
                        {% endif %}
                    </button>
                </div>
            </div>              
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block domready %}

$('div.likes_products_item_info_like path').click(function(e){
    e.preventDefault();
    var product_like = event.target;
    $.post('{% url "likes:product_like" %}',
        {
        id: $(product_like).data('id'),
        action: $(product_like).data('action')
        },
        function(data){
            if (data['status'] == 'ok')
            {   
                if (parseInt($('a.navbar_btns_likes span').text()) > 1){
                    var previous_action = $(product_like).data('action');
                    var pr_id = $(product_like).data('id');
    
                    $(product_like).data('action', previous_action == 'like' ? 'unlike' : 'like');
                    $(product_like).text(previous_action == 'like' ? $(product_like).css("fill", "#9d2c2c") : $(product_like).css("fill", "#dcdcdc"));
                    
                    var previous_likes = parseInt($('span.' + pr_id).text());
                    $('span.' + pr_id).text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);

                    var previous_liked = parseInt($('a.navbar_btns_likes span').text());
                    $('a.navbar_btns_likes span').text(previous_action == 'like' ? previous_liked + 1 : previous_liked - 1);
                }else{
                    var previous_liked = parseInt($('a.navbar_btns_likes span').text());
                    $('a.navbar_btns_likes span').text(previous_liked - 1);
                    $('div.likes_products').replaceWith('<span>Теперь здесь пусто...</span>'); 
                }
            }
        });
    });

$('button.add').click(function(e){
    e.preventDefault();
    var product_add = event.target;
    $.post('{% url "cart:cart_add_product" %}',
        {
        id: $(product_add).data('id'),
        action: $(product_add).data('action'),
        },
        function(data){
            if (data['status'] == 'ok')
            {
                if ($('div.navbar_log a.navbar_log_in').text() == 'Вход') 
                {
                    $(product_add).replaceWith('<a href="{% url "cart:cart_detail" %}"><button class="selected">в корзине</button></a>');  
                }
                else {
                    $(product_add).replaceWith('<a href="{% url "cart:cart_detail_user" %}"><button class="selected">в корзине</button></a>'); 
                }
                    
                var previous_add = parseInt($('a.navbar_btns_cart span').text());
                $('a.navbar_btns_cart span').text(previous_add + 1);
                $('a.navbar_btns_cart span').removeAttr('hidden');
                if (parseInt($('a.navbar_btns_cart span').text()) > 1) 
                {
                    $('a.navbar_btns_cart span').replaceWith('<span>' + $('a.navbar_btns_cart span').text() + '</span>');
                }
                else {
                    $('a.navbar_btns_cart span').replaceWith('[<span>' + $('a.navbar_btns_cart span').text() + '</span>]');
                }
            }
        });
    });

$('button.annlike').click(function(e){
    e.preventDefault();
    let announcement_like = event.target;
    $.post('{% url "announcement:announcement_like" %}',
        {
        id: $(announcement_like).data('id'),
        action: $(announcement_like).data('action')
        },
        function(data){
            if (data['status'] == 'ok')
            {
                let previous_likes = parseInt($('span.' + pr_id).text());
                let pr_id = $(announcement_like).data('id');
                $('div.' + pr_id).replaceWith('');  
            }
        });
    });


$('a.likes_menu_posts').click(function(e){
    $('div.likes_posts').css('display', 'block');
    $('div.likes_products').hide();
    $('div.likes_ann').hide();
});
$('a.likes_menu_announcements').click(function(e){
    $('div.likes_ann').css('display', 'block');
    $('div.likes_posts').hide();
    $('div.likes_products').hide();
});
$('a.likes_menu_products').click(function(e){
    $('div.likes_ann').hide();
    $('div.likes_posts').hide();
    $('div.likes_products').show();
});

{% endblock %}