{% extends "shop/bas.html" %}

{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<h1 class="title">{{ post.title }}</h1>
<p class="date">Published {{ post.publish }} by {{ post.author.first_name }}</p>
{{ post.body|linebreaks }}

{% with total_likes=post.users_like.count users_like=post.users_like.all %}

<span class="{{ post.title }}">{{ total_likes }}</span>
</span><button data-title="{{ post.title }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
		{% if request.user not in users_like %}
				Like
		{% else %}
				Unlike
		{% endif %}
</button>
		
{% endwith%}   

{% with comments.count as total_comments %}
<span class="count_comments">{{ total_comments }}</span><span> comment{{ total_comments|pluralize }}</span>
{% endwith %}

{% for comment in comments %}
<div class="comment">
    <p class="info">
        Comment by {{ comment.author_comment.first_name }}
        {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
    {{ comment.image }}
</div>

{% empty %}
<p>There are no comments yet...</p>

{% endfor %}

<div class="new_comment"></div>


<form class="comment" method="post" data-title='{{ post.title }}'>
    <textarea name="body" cols="40" rows="10" required=""></textarea>
    <input type="submit" value="Add comment">
</form>


{% endblock %}


{% block domready %}

$('form.comment').on("submit", function(e){
	e.preventDefault();
	$.post('{% url "blog:post_add_comment" %}',
		{
        title: $(this).data('title'),
		data: $('form.comment textarea').val(),
		},
		function(data){
			if (data['status'] == 'ok')
			{
				var name = $('a.name').text()
				var myDate = new Date();
				var fullDate = myDate.getDate() +" "+ myDate.getMonth() +" " + myDate.getFullYear();
				$('div.new_comment').replaceWith('<div class="comment"><p class="info">Comment by'+' '+name+' '+fullDate+'</p><p>'+$('form.comment textarea').val()+'</p></div><div class="new_comment"></div>');
				$('form.comment textarea').val('')
				$('span.count_comments').text(parseInt($('span.count_comments').text())+1)
			}
		});
	});

$('button.like').click(function(e){
	e.preventDefault();
	var post_like = event.target;
	$.post('{% url "blog:post_like" %}',
		{
		title: $(post_like).data('title'),
		action: $(post_like).data('action')
		},
		function(data){
			if (data['status'] == 'ok')
			{
				var previous_action = $(post_like).data('action');
				var title = $(post_like).data('title');
	
				$(post_like).data('action', previous_action == 'like' ? 'unlike' : 'like');
				$(post_like).text(previous_action == 'like' ? 'Unlike' : 'Like');
				
				var previous_likes = parseInt($('span.' + title).text());
				$('span.' + title).text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
			}
		});
	});

{% endblock %}