{% extends "shop/bas.html" %}
{% load static %}
{% load tz %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<h1 class="title">{{ post.title }}</h1>
<p class="date">{{ post.publish }} 
	{% if post.author != request.user %}
	<a href="{{ profile.get_absolute_url }}">{{ post.author }}</a>
	{% else %}
	<a href="{% url "dashboard" %}">{{ post.author }}</p></a>
	{% endif %}
</p>
{{ post.body|linebreaks }}

<span class="{{ post.title }}">{{ post.users_like.count }}</span>
<button data-title="{{ post.title }}" data-action="{% if request.user in post.users_like.all %}un{% endif %}like" class="like button">
		{% if request.user not in post.users_like.all %}
			Like {% else %} Unlike
		{% endif %}
</button>

<span class="{{ post.author }}">{{ post.bookmark.count }}</span>
<button data-title="{{ post.title }}" data-author='{{ post.author }}' data-action="{% if request.user in post.bookmark.all %}un{% endif %}bookmark" class="bookmarkbutton">
		{% if request.user not in post.bookmark.all %}
			bookmark {% else %} unbookmark
		{% endif %}
</button>

<span class="count_comments">{{ comments.count }}</span><span> comment{{ comments.count|pluralize }}</span>

{% for comment in comments %}
<div class="comment">
    <p class="info">
        Comment by {{ comment.author_comment.first_name }}
        {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
	{{ comment.image }}
	
	{% if comment.author_comment == request.user %}
	<a href="" data-body="{{ comment.body }}" data-title="{{ post.title }}" data-action="remove" class="remove">удалить</a>
	{% endif %}
</div>

{% empty %}
<p>There are no comments yet...</p>

{% endfor %}

<div class="new_comment"></div>

<form class="comment" method="post" data-title='{{ post.title }}'>
    <textarea name="body" cols="40" rows="10" required=""></textarea>
    <input type="submit" value="Add comment">
</form>

{% endblock %}

{% block domready %}

$('form.comment').on("submit", function(e){
	e.preventDefault();
	$.post('{% url "blog:post_add_comment" %}',
		{
		title: $(this).data('title'),
		data: $('form.comment textarea').val(),
		},
		function(data){
			if (data['status'] == 'ok')
			{
				var name = $('a.name').text()
				var myDate = new Date();
				var fullDate = myDate.getDate() +" "+ myDate.getMonth() +" " + myDate.getFullYear();
				$('div.new_comment').replaceWith('<div class="comment"><p class="info">Comment by'+' '+name+' '+fullDate+'</p><p>'+$('form.comment textarea').val()+'</p></div><div class="new_comment"></div>');
				$('form.comment textarea').val('')
				$('span.count_comments').text(parseInt($('span.count_comments').text())+1)
			}
		});
	});

$('div.comment').click(function(e){
	e.preventDefault();
	var remove = event.target;
	$.post('{% url "blog:post_add_comment" %}',
		{
		title: $(remove).data('title'),
		action: $(remove).data('action'),
		body: $(remove).data('body'),
		},
		function(data){
			if (data['status'] == 'ok')
			{
				var parent = $(remove).parent('.comment');
				parent.replaceWith('<p>Ваш комментарий удален</p>');
				$('span.count_comments').text(parseInt($('span.count_comments').text())-1)	
			}
		});
	});

$('button.like').click(function(e){
	e.preventDefault();
	var post_like = event.target;
	$.post('{% url "blog:post_like" %}',
		{
		title: $(post_like).data('title'),
		action: $(post_like).data('action')
		},
		function(data){
			if (data['status'] == 'ok')
			{
				var previous_action = $(post_like).data('action');
				var title = $(post_like).data('title');
	
				$(post_like).data('action', previous_action == 'like' ? 'unlike' : 'like');
				$(post_like).text(previous_action == 'like' ? 'Unlike' : 'Like');
				
				var previous_likes = parseInt($('span.' + title).text());
				$('span.' + title).text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
			}
		});
	});

$('button.bookmarkbutton').click(function(e){
	e.preventDefault();
	var bookmark = event.target;
	$.post('{% url "blog:bookmark" %}',
		{
		title: $(bookmark).data('title'),
		action: $(bookmark).data('action'),
		},
		function(data){
			if (data['status'] == 'ok')
			{
				var previous_action = $(bookmark).data('action');
				var title = $(bookmark).data('title');
				var author = $(bookmark).data('author');
	
				$(bookmark).data('action', previous_action == 'bookmark' ? 'unbookmark' : 'bookmark');
				$(bookmark).text(previous_action == 'bookmark' ? 'unbookmark' : 'bookmark');
				
				var previous_bookmark = parseInt($('span.' + author).text());
				$('span.' + author).text(previous_action == 'bookmark' ? previous_bookmark + 1 : previous_bookmark - 1);

				var previous = parseInt($('button.bookmark a').text());
                $('button.bookmark a').text(previous_action == 'bookmark' ? previous + 1 : previous - 1);
			}
		});
	});

{% endblock %}