/*-----------navbar--------------*/
.navbar_frame {
    display: flex;
}
.navbar_frame_zinzinzin {
    width: 170px;
    margin: 30px 0px 0px 50px;
    min-width: 170px;
}
.navbar_menu {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 0px 50px;
    width: 470px;
}
.navbar_menu a {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    color: black;
}
.navbar_menu a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 1120px) {

}
.navbar_frame_btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: black solid;
    margin: 40px 0px 0px 50px;
}
.navbar_frame_btns a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
    color: black;
}
.navbar_frame_btns a:hover {
    text-decoration: underline;
}
.navbar_frame_btns_cart {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 15px;
    margin-top: 15px;
    padding-right: 15px;
    border-right: black solid;
    border-bottom: black solid;
}
.navbar_frame_btns_likes {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-left: 15px;
    margin-bottom: 15px;
    border-right: black solid;
    padding-top: 15px;
}
.navbar_frame_btns_chats {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    border-right: black solid;
    padding-top: 15px;
}
.navbar_frame_btns_bookmarks {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 15px;
    margin-top: 15px;
    border-bottom: black solid;
    border-right: black solid;
}
.navbar_frame_btns_news {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 15px;
    margin-right: 15px;
    text-align: center;
    align-self: center;
}
.navbar_frame_log {
    align-self: center;
    justify-self: start;
    margin: 40px 0px 0px 15px;
}
.navbar_frame_log_in {
    font-family: Montserrat;
    font-weight: 100;
    font-size: 23px;
    color: black;
    writing-mode: vertical-rl;
}
.navbar_frame_log_in a {
    text-decoration: none;
    color: black;
}
.navbar_frame_log_out {
    position: absolute;
    display: none;
}
.navbar_frame_log_out a {
    text-decoration: none;
    display: block;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    color: black;
}
.navbar_frame_log_in:hover .navbar_frame_log_out {display: block;}


/*----------магазин-----------*/
.products_list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    margin: 20px 50px 0px 50px;
}


.products_list_search {
    grid-column-start: 10;
    grid-column-end: 13;
    margin-bottom: 20px;
    width: 200px;
}
.products_list_search_form {
    display: flex;
}
.products_list_search_form textarea {
    resize: none;
    border: none;
    border-bottom: #000000 solid;
    outline: none;
}
.products_list_search_form button {
    background-color: #000000;
}
.products_list_find:empty {
    display: none;
}
.products_list_find {
    position: absolute;
    background-color: #f9f9f9;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}


.products_list_categories {
    grid-column-start: 1;
    grid-column-end: 3;
}
.products_list_categories span {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}
.products_list_categories a {
    display: block;
    text-align: start;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    color: #808080;
    padding-top: 4px;
}
.products_list_categories a:hover {
    text-decoration: underline;
}


.products_list_items {
    grid-column-start: 3;
    grid-column-end: 13;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.products_list_items_item {
    display: flex; 
    flex-direction: column;
}
.products_list_items_item_photo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.products_list_items_item_photo img {
    min-width: 150px;
    max-width: 170px;
    padding-bottom: 3px;
    border-bottom: gainsboro solid;
}
.products_list_items_item_photo img:hover {
    padding: 1px;
    border: gainsboro solid;
}
.products_list_items_item_name_info {
    align-self: center;
    text-align: center;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 13px;
    color: #7E7E7E;
    margin: 5px;
}
.products_list_items_item_name_info a {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 15px;
    color: #242424;
}
.products_list_items_item_name_info a:hover {
    text-decoration: underline;
}
.products_list_items_item_name_info button {
    border: none;
    border-radius: 4px;
    font-family: Montserrat;
    font-size: 13px;
    color: #242424;
    cursor: pointer;
}
.products_list_items_item_name_info button a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 10px;
    color: #242424;
}
.products_list_items_item_info_like_btn,
.products_list_items_item_info_like_btn_selected {
    cursor: pointer;
    width: 15px;
    height: 15px;
}
.products_list_items_item_info_like_btn {
    fill: #dcdcdc;
}
.products_list_items_item_info_like_btn_selected {
    fill:#8e2626;
}

/*---------------product-detail----------------*/
.product {
    margin: 100px;
}
.product_detail {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}
.product_detail_photo {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 200px;
}
.product_detail_name {
    grid-column-start: 3;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Montserrat;
    margin-left: 50px;
}
.product_detail_name .name {
    display: inline-flex;
    font-size: 25px;
    font-weight: 600;
}
.product_detail_name .category a{
    display: inline-flex;
    font-size: 12px;
    color: rgb(183, 183, 183);
}
.product_detail_info {
    display: inline-flex;
    flex-direction: column;
    font-size: 15px;
}
.product_detail_descr {
    grid-column-start: 7;
    grid-column-end: 12;
    font-size: 15px;
    font-family: Montserrat;
}

/*---------------posts-list----------------*/
.posts_list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    margin-top: 100px;
    margin-left: 50px;
}
.posts_list_posts {
    grid-column-start: 4;
    grid-column-end: 12;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: Montserrat;
}
.posts_list_posts_post {
    margin-top: 20px;
}
.posts_list_posts_post .title {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.posts_list_posts_post .info {
    text-decoration: none;
    color: rgb(150, 150, 150);
    font-size: 12px;
}
.posts_list_posts_post .info a {
    text-decoration: none;
    color: black;
}
.posts_list_posts_post .details {
    font-size: 12px;
}

/*---------------posts-list-detail----------------*/
.post_detail {
    font-family: Montserrat;
    margin-left: 50px;
    margin-top: 100px;
}

/*---------------profiles-list----------------*/

.profiles {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    font-family: Montserrat;
    margin-top: 100px;
    margin-left: 50px;
}
.profiles .categories {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
}
.profiles .categories a {
    text-decoration: none;
    color: rgb(137, 137, 137);
}
.profiles_list {
    grid-column-start: 3;
    grid-column-end: 12;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.profiles_list_profile .photo {
    height: 100px;
}
.profiles_list_profile .photo img{
    height: 100%;
}
.profiles_list_profile .name {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.profiles_list_profile .category {
    color: gray;
    font-size: 12px;
}

/*---------------profile-detail----------------*/
.profile_detail {
    margin-top: 100px;
    margin-left: 50px;
    font-family: Montserrat;
}
.profile_detail_photo {
    width: 200px;
}
.profile_detail_photo img {
    width: 100%;
}

/*---------------announsm----------------*/
.announsements {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    font-family: Montserrat;
    margin-top: 100px;
    margin-left: 50px;
}
.announsements_categories {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
}
.announsements_categories a{
    text-decoration: none;
    color: rgb(137, 137, 137);
}
.announcements_list {
    grid-column-start: 3;
    grid-column-end: 12;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.announcements_list_announcement
