/*@media screen and (min-width: 1100px) {
}*/

/*---------------------------------------------header--------------------------------------------------------------*/
.navbar {
    display: flex;
}
.navbar_logo {
    width: 120px;
    margin: 20px 0px 0px 50px;
}
.navbar_logo svg {
    min-width: 120px;
}
.navbar_logo svg path{
    stroke: black;
}
.menu {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 0px 50px;
    width: 390px;
}
.menu a {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 15px;
    color: black;
}
.menu a:hover {
    text-decoration: underline;
}
.navbar_btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: black solid 1px;
    margin: 30px 0px 4px 30px;
    min-width: 320px;
}
.navbar_btns a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 12px;
    color: black;
}
.navbar_btns a:hover {
    text-decoration: underline;
}
.navbar_btns_cart {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 10px;
    margin-top: 10px;
    padding-right: 10px;
    border-right: black solid 1px;
    border-bottom: black solid 1px;
}
.navbar_btns_likes {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-left: 10px;
    margin-bottom: 10px;
    border-right: black solid 1px;
    padding-top: 10px;
}
.navbar_btns_chats {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 10px;
    border-right: black solid 1px;
    padding-top: 10px;
}
.navbar_btns_bookmarks {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 10px;
    margin-top: 10px;
    border-bottom: black solid 1px;
    border-right: black solid 1px;
}
.navbar_btns_news {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 10px;
    margin-right: 10px;
    text-align: center;
    align-self: center;
}
.navbar_log {
    align-self: center;
    justify-self: start;
    margin: 30px 0px 0px 15px;
}
.navbar_log_in {
    font-family: Montserrat;
    font-weight: 100;
    font-size: 17px;
    color: black;
    writing-mode: vertical-rl;
    text-decoration: none;
}
.navbar_log_in a {
    text-decoration: none;
    color: black;
}
.navbar_log_out {
    position: absolute;
    display: none;
}
.navbar_log_out a {
    text-decoration: none;
    display: block;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    color: black;
}
.navbar_log_in:hover .navbar_log_out {display: block;}


/*------------------------------------------------------------shop-----------------------------------------------------------------------------------*/
.shop {
    display: flex;
    flex-direction: column;
    margin: 30px 50px 0px 50px;
}
/*------------search-------------*/
.shop_search {
    align-self: flex-end;
    margin-bottom: 20px;
    width: 150px;
}
.shop_search_form {
    display: flex;
    border-bottom: #000000 solid 1px;
}
.shop_search_form textarea {
    resize: none;
    border: none;
    outline: none;
}
.shop_search_form textarea::placeholder {
    font-family: Montserrat;
    color: #000;
}
.shop_search_form textarea:-ms-input-placeholder {
    font-family: Montserrat;
    color: #000;
}
.shop_search_form textarea::-ms-input-placeholder {
    font-family: Montserrat;
    color: #000;
}
.shop_search_form textarea::-webkit-input-placeholder {
    font-family: Montserrat;
    color: #000;
}
.shop_search_form textarea:-moz-placeholder {
    font-family: Montserrat;
    color: #000;
}
.shop_search_form textarea::-moz-placeholder {
    font-family: Montserrat;
    color: #000;
}
.shop_search_form button {
    background-color: white;
    border: none;
    cursor: pointer;
    justify-self: right;
}
.shop_search_form button svg {
    fill: black;
    width: 10px;
}
.shop_find:empty {
    display: none;
}
.shop_find {
    position: absolute;
    background-color: #f9f9f9;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

/*-----------------categories-------------*/
.shop_categories {
    width: 200px;
    min-width: 100px;
}
.shop_categories span {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}
.shop_categories a {
    display: block;
    text-align: start;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    color: #808080;
    padding-top: 7px;
}
.shop_categories a:hover {
    text-decoration: underline;
}

/*-----------------products---------------*/
.shop_ {
    display: flex;
}
.shop_items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-gap: 40px;
    margin: 0px 30px 0px 50px;
}
.shop_items_item {
    display: flex; 
    flex-direction: column;
}
.shop_items_item_photo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 200px;
    padding: 10px;
    border-bottom: rgb(226, 226, 226) solid 1px;
}
.shop_items_item_photo img {
    max-width: 200px;
    max-height: 250px;
}
.shop_items_item_photo img:hover {
    box-shadow: 0 0 3px black;
}
.shop_items_item_info {
    width: 220px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 13px;
    color: #7E7E7E;
    margin-top: 5px;
}
.shop_items_item_info_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shop_items_item_info_name a {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 600;
    color: #242424;
}
.shop_items_item_info_name a:hover {
    text-decoration: underline;
}
.shop_items_item_info_info {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.shop_items_item_info_info button {
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    background-color: rgb(238, 238, 238);
    color: #000;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 5px;
    padding: 5px;
    justify-self: center;
}
.shop_items_item_info_info button.selected {
    font-size: 12px;
    border: none;
    color: rgb(181, 181, 181);
}
.shop_items_item_info_info button:hover {
    box-shadow: 0px 0px 3px;
}
.shop_items_item_info_name {
    text-align: start;
}
.shop_items_item_info_like {
    display: inline-flex;
    justify-self: flex-end;
    max-height: 17px;
}
.shop_items_item_info_like_btn,
.shop_items_item_info_like_btn_selected {
    cursor: pointer;
    width: 17px;
}
.shop_items_item_info_like_btn:hover,
.shop_items_item_info_like_btn_selected:hover {
    fill: rgb(214, 138, 138);
}
.shop_items_item_info_like_btn {
    fill: #dcdcdc;
}
.shop_items_item_info_like_btn_selected {
    fill:#8e2626;
}

/*-----------------------------------------------------------product-detail----------------------------------------------------------------*/
.product {
    width: 49%;
    padding: 50px 50px 30px 50px;
    display: inline-flex;
    margin: 20px 0px 0px 0px;
    min-width: 470px;
    /*border: black solid 1px;*/
    /*min-width: 370px;*/
}
.product_photo {
    display: inline-flex;
    flex-direction: column;
    min-width: 200px;
    align-self: center;
    /*margin-left: auto;*/
    padding-left: 30px;
}
.product_photo img.product_photo_main {
    width: 200px;
    min-width: 200px;
}
.product_photo img.product_photo_dop {
    width: 40px;
    min-width: 40px;
    margin-right: 10px;
}
.product_detail {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    justify-content: space-evenly;
    align-items: center;
}
.product_detail_title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_detail_title_name {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.product_detail_title_author {
    text-align: center;
    font-size: 13px;
    font-style: italic;
    color: #505050;
}
.product_detail_title_publisher {
    text-align: center;
    font-size: 12px;
    color: #ADADAD;
}
.product_detail_title_category {
    margin: 5px 0px 0px 50px;
}
.product_detail_title_category a {
    font-family: Montserrat;
    font-size: 12px;
    color: rgb(183, 183, 183);
}
.product_detail_info {
    max-width: 500px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.product_detail_info span {
    display: inline;
    margin: 20px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(190, 190, 190);
}
.product_detail_info .added_to_cart button {
    background-color: rgb(233, 233, 233);
    font-size: 12px;
    font-weight: 600;
    color: rgb(186, 186, 186);
}
.product_detail_info button {
    font-size: 15px;
    font-weight: 600;
    font-family: Montserrat;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: black;
    padding: 10px;
    cursor: pointer;
}
.product_detail_info button:hover {
    box-shadow: 0px 0px 3px black;
}
.products_detail_btns_like {
    display: flex;
    margin-left: auto;
    align-items: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
    font-family: Montserrat;
    font-size: 14px;
    color: gray;
}
.product_photo_det {
    display: flex;
    margin: 10px 10px 10px 0px;
    justify-content: space-between;
}
.products_detail_btns_like_prev {
    display: flex;
    height: 30px;
}
.product_detail_btns_bye {
    font-family: Montserrat;
    display: flex;
    font-size: 12px;
    color: rgb(113, 113, 113);
}
.product_detail_btns_bye_paper  {
    display: inline-flex;
}
.product_detail_btns_bye_paper button {
    border: none;
    background: none;
    font-family: Montserrat;
    font-size: 14px;
    color: gray;
}
.product_detail_btns_bye_paper button:hover {
    background: gainsboro;
    box-shadow: 0px 0px 3px;
}
.product_detail_btns_bye_paper span {
    margin: 5px;
    align-self: center;
}
.products_detail_btns_like_btn,
.products_detail_btns_like_btn_selected {
    cursor: pointer;
    width: 20px;
}
.products_detail_btns_like_btn:hover,
.products_detail_btns_like_btn_selected:hover {
    fill: rgb(214, 138, 138);
}
.products_detail_btns_like_btn {
    fill: #dcdcdc;
}
.products_detail_btns_like_btn_selected {
    fill:#8e2626;
}
.product_descr {
    width: 49%;
    min-width: 470px;
    font-family: Montserrat;
    /*margin-top: 30px;*/
    margin-left: 50px;
}
.product_descr .descr {
    font-weight: 600;
    font-size: 18px;
}
.product_descr .body {
    font-size: 12px;
    color: rgb(109, 109, 109);
}
.product_comment {
    width: 470px;
    font-size: 15px;
    font-family: Montserrat;
    margin: 30px 0px 0px 50px;
}
.product_comment_count {
    font-weight: 600;
    font-size: 18px;
}
.product_comment_info {
    margin-top: 20px;
}
.product_comment_info_dop {
    display: flex;
}
.product_comment_info span {
    font-size: 12px;
    display: inline-flex;
    border-bottom: rgb(226, 226, 226) solid;
}
.product_comment_info a {
    text-decoration: none;
    color: rgb(178, 178, 178);
    font-size: 12px;
    margin-left: 10px;
}
.product_comment_info a:hover {
    text-decoration: underline;
}
.product_comment_info_body {
    font-size: 15px;
}
.product_comment_form form {
    display: flex;
}
.product_comment_form form button {
    cursor: pointer;
    font-family: Montserrat;
    border: none;
}
.product_comment_form form button:hover {
    background-color: rgb(154, 154, 154);
}
.product_comment_form textarea {
    resize: none;
    outline: none;
    border: solid rgb(231, 231, 231);
    width: 570px;
}
.product_comment_form textarea::placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.product_comment_form textarea:-ms-input-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.product_comment_form textarea::-ms-input-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.product_comment_form textarea::-webkit-input-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.product_comment_form textarea:-moz-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.product_comment_form textarea::-moz-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.product_comment_svg,
.product_comment_svg_selected {
    width: 10px;
    display: inline-flex;
    cursor: pointer;
}
.product_comment_svg {
    fill: #a1a1a1;
}
.product_comment_svg:hover,
.product_comment_selected_svg:hover {
    fill: #808080;
}
.product_comment_ims {
    max-width: 300px;
}
.product_photo_comment {
    max-width: 100px;
}
.comment-like {
    margin-left: 10px;
}

/*----------------------------------------------------------posts-list--------------------------------------------------------------------------------*/
.posts {
    margin: 50px 50px 0px 50px;
}
.posts_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 50px;
    font-family: Montserrat;
    min-width: 470px;
}
.posts_list_post {
    max-width: 470px;
}
/*.posts_list_post_photo {
    width: 420px;
    height: 200px;
}
.posts_list_post_photo img{
    width: 420px;
    height: 200px;
    object-fit: cover;
}*/

.posts_list_post p {
    font-size: 12px;
}
.posts_list_post .title {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.posts_list_post .title:hover {
    text-decoration: underline;
}
.posts_list_post .info {
    text-decoration: none;
    color: rgb(150, 150, 150);
    font-size: 12px;
}
.posts_list_post .info a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.posts_list_post .details {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*--------------------------------------------------------create-product--------------------------------------------------------------*/
.create_product {
    font-family: Montserrat;
    margin: 30px 0px 0px 50px;
    padding: 20px;
    min-width: 430px;
    background-color: rgb(243, 243, 243);
}
.create_product_form ul {
    list-style-type: none;
}
.create_product_form label {
    font-size: 13px;
}
.create_product_form input,
.create_product_form textarea {
    border: rgb(192, 192, 192) solid 0.5px;
    outline: none;
    border-radius: 2px;
    font-family: Montserrat;
}
.create_product_form input:hover,
.create_product_form textarea:hover {
    box-shadow: 0px 0px 3px black;
}
.create_product_form input::placeholder,
.create_product_form textarea::placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.create_product_form input:-ms-input-placeholder,
.create_product_form textarea:-ms-input-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.create_product_form input::-ms-input-placeholder,
.create_product_form textarea::-ms-input-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.create_product_form input::-webkit-input-placeholder,
.create_product_form textarea::-webkit-input-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.create_product_form input:-moz-placeholder,
.create_product_form textarea:-moz-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.create_product_form input::-moz-placeholder,
.create_product_form textarea::-moz-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.create_product_form_name {
    width: 200px;
    height: 30px;
    margin: 30px 30px 30px 60px;
}
.create_product_form_category {
    margin: 0px 0px 20px 0px;
}
.create_product_form_category ul {
    margin: 10px 0px 0px 110px;
}
.create_product_form textarea {
    margin: 0px 0px 20px 60px;
    width: 540px;
    min-width: 420px;
    height: 60px;
    overflow: auto;
    resize: none;
    outline: none;
}
.create_product_form_price input {
    width: 50px;
    height: 30px;
    margin: 10px 0px 0px 9px;
}
.create_product_form_quantity_pr input {
    width: 50px;
    height: 30px;
    margin: 10px 0px 0px 9px;
}
.create_product_form_available,
.create_product_form_quantity_pr,
.create_product_form_type_pr,
.create_product_form_pryce_type {
    margin-top: 10px;
}
.create_product_form_type_pr option,
.create_product_form_type_pr select,
.create_product_form_pryce_type option,
.create_product_form_pryce_type select {
    font-family: Montserrat;
    height: 30px;
    margin: 10px 0px 0px 9px;
    border: rgb(192, 192, 192) solid 0.5px;;
}
.create_product_form_button {
    border: none;
    background-color: black;
    width: 200px;
    height: 30px;
    color: white;
    font-weight: 600;
    margin: 30px;
}



/*---------------posts-list-detail----------------*/
.post_detail {
    font-family: Montserrat;
    margin-left: 50px;
    margin-top: 100px;
}


/*--------------------------------------------------------------profiles-list-----------------------------------------------------------------*/
.profiles {
    display: flex;
    font-family: Montserrat;
    margin: 50px 0px 0px 50px;
    flex-direction: row;
}
/*-----categories----*/
.profiles .categories {
    display: flex;
    flex-direction: column;
    min-width: 120px;
}
.profiles .categories a {
    display: inline-flex;
    text-decoration: none;
    color: rgb(137, 137, 137);
    font-size: 13px;
    margin-top: 4px;
}
.profiles .categories a:hover {
    text-decoration: underline;
}
.profiles_list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    grid-gap: 20px;
    min-width: 350px;
    margin-left: 30px;
    margin-right: 30px;
}
.profiles_list_profile .photo {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profiles_list_profile .photo img:hover {
    box-shadow: 0px 0px 3px black;
}
.profiles_list_profile .photo img{ 
    max-width: 150px;
    max-height: 150px;
}
.profiles_list_profile .name {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.profiles_list_profile .name:hover {
    text-decoration: underline;
}
.profiles_list_profile .category {
    color: gray;
    font-size: 12px;
}

/*-------------------------------------------------------profile-detail--------------------------------------------------------------------*/
.profile {
    font-family: Montserrat;
    margin: 40px 0px 0px 50px;
}
.profile_info {
    display: flex;
    width: 470px;
}
.profile_info_photo {
    display: flex;
    width: 200px;
}
.profile_info_photo img {
    max-width: 200px;
    align-self: center;
}
.profile_info_center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 270px;
    text-align: center;
}
.profile_info_name {
    display: inline-flex;
    flex-direction: column;
}
.profile_info_name_username {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}
.profile_info_chat_button button {
    border: none;
    cursor: pointer;
    font-family: Montserrat;
}
.profile_info_subs_button button {
    border: none;
    cursor: pointer;
    font-family: Montserrat;
}
.profile_info_subs_button button:hover,
.profile_info_chat_button button:hover {
    box-shadow: 0px 0px 3px black;
}
.profile_info_subs {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    cursor: pointer;
}
.profile_info_subs a {
    text-decoration: none;
    color: #000;
}
.profile_subscribe,
.profile_subscribers {
    width: max-content;
    height: max-content;
    text-align: left;
    padding: 15px;
    border: 1px solid black;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
    font-size: 15px;
}
#profile_zatemnenie_subscribe,
#profile_zatemnenie_subscribers {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#profile_zatemnenie_subscribe:target,
#profile_zatemnenie_subscribers:target {
    display: block;
}
.profile_close {
    display: inline-flex;
    padding: 5px;
    background: #f2f2f2;
    font-size: 15px;
    align-self: flex-end;
    cursor: pointer;
}

.profile_descr {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.profile_categories a {
    color: rgb(197, 197, 197);
    font-size: 12px;
}

.profile_grid_products_top,
.profile_grid_posts_top,
.profile_grid_ann_top {
    text-align: center;
    /*background-color: rgb(241, 241, 241);*/
    border: black solid;
    width: 120px;
}
.profile_grid_products_top span,
.profile_grid_posts_top span,
.profile_grid_ann_top span {
    font-size: 15px;
}
.profile_grid_products {
    display: inline-flex;
    flex-direction: column;
    min-width: 200px;
    margin-top: 30px;
}
.profile_grid_products_items {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.profile_grid_products_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 10px;
}
.profile_grid_products_item a {
    text-decoration: none;
    color: #000;
    font-size: 10px;
    text-align: center;
}
.profile_grid_products_item_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding-bottom: 5px;
}
.profile_grid_products_item_photo img {
    max-width: 100px;
    max-height: 100px;
}
.profile_grid_products_item img:hover {
    box-shadow: 0px 0px 2px black;
}
.profile_grid_posts_item a:hover {
    text-decoration: underline;
}
.profile_grid_posts {
    margin-top: 30px;
}
.profile_grid_posts_items {
    margin-top: 20px;
    display: flex;
}
.profile_grid_posts_item,
.profile_grid_ann_item {
    display: inline-flex;
    margin-right: 20px;
}
.profile_grid_posts_item a,
.profile_grid_ann_item a {
    text-decoration: none;
    color: #000;
}
.profile_grid_ann {
    margin-top: 30px;
}
.profile_grid_ann_items {
    margin-top: 20px;
}
.profile_grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( 200px, 1fr) );
    grid-gap: 10px;
}


/*-------------------------------------------------------dashboard--------------------------------------------------------------------------*/
.dashboard {
    font-family: Montserrat;
    margin: 40px 0px 0px 50px;
}
.dashboard_info {
    display: flex;
    width: 470px;
}
.dashboard_info_photo {
    display: flex;
    width: 200px;
}
.dashboard_info_photo img {
    max-width: 200px;
    align-self: center;
}
/*---шестеренка-----*/
.dashboard_info_detail {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 270px;
}
.dashboard_info_detail_svg {
    align-self: flex-end;
}
.dashboard_info_detail_svg svg {
    width: 20px;
    fill: rgb(203, 203, 203);
    cursor: pointer;
}
.dashboard_info_detail_menu {
    display: none;
    position: absolute;
}
.dashboard_info_detail_menu a {
    display: block;
    color: rgb(162, 162, 162);
    text-decoration: none;
    font-size: 12px;
    text-align: start;
}
.dashboard_info_detail_menu a:hover {
    color: #000;
    background-color: gainsboro;
}
.dashboard_info_detail_svg:hover .dashboard_info_detail_menu {
    display: block;
    border: gainsboro solid;
}
/*---name--*/
.dashboard_info_center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.dashboard_info_name {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.dashboard_info_name_username {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}
.dashboard_info_subs {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    cursor: pointer;
}
.dashboard_info_subs a {
    text-decoration: none;
    color: #000;
}
.dasboard_subscribe,
.dasboard_subscribers,
.dasboard_delete,
.dasboard_delete_product,
.dasboard_delete_post,
.dasboard_delete_announcement {
    width: max-content;
    height: max-content;
    text-align: left;
    padding: 15px;
    border: 1px solid black;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
    font-size: 15px;
}
#dasboard_zatemnenie_subscribe,
#dasboard_zatemnenie_subscribers,
#dasboard_zatemnenie_delete,
.dasboard_zatemnenie_delete_product,
.dasboard_zatemnenie_delete_post,
.dasboard_zatemnenie_delete_announcement {
    background: rgba(32, 32, 32, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    display: none;
}
#dasboard_zatemnenie_subscribe:target,
#dasboard_zatemnenie_subscribers:target {
    display: block;
}
.dasboard_close,
.dasboard_delete_close,
.dasboard_delete_product_close,
.dasboard_delete_post_close,
.dasboard_delete_announcement_close {
    display: inline-flex;
    padding: 5px;
    background: #f2f2f2;
    font-size: 15px;
    align-self: flex-end;
    cursor: pointer;
}

.dashboard_descr {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.dashboard_categories a {
    color: rgb(197, 197, 197);
    font-size: 12px;
}

.dashboard_products_top,
.dashboard_posts_top,
.dashboard_ann_top,
.dashboard_proects_top,
.dashboard_orders {
    text-align: center;
    /*background-color: rgb(241, 241, 241);*/
    border: solid black;
    width: 130px;
}
.dashboard_products_top span,
.dashboard_posts_top span,
.dashboard_ann_top span,
.dashboard_proects_top span,
.dashboard_orders a {
    font-size: 15px;
}
.dashboard_products_top button,
.dashboard_posts_top button,
.dashboard_ann_top button,
.dashboard_proects_top button {
    border: none;
    cursor: pointer;
    background-color: white;
}
.dashboard_products_top button:hover,
.dashboard_posts_top button:hover,
.dashboard_ann_top button:hover,
.dashboard_proects_top button:hover {
    box-shadow: 0px 0px 3px black;
}
.dashboard_products {
    display: inline-flex;
    flex-direction: column;
    min-width: 470px;
    margin-top: 30px;
}
.dashboard_products_items {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dashboard_products_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 10px;
}
.dashboard_products_item a {
    text-decoration: none;
    color: #000;
    font-size: 10px;
    text-align: center;
}
.dashboard_products_item_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding-bottom: 5px;
}
.dashboard_products_item_photo img {
    max-width: 100px;
    max-height: 100px;
}
.dashboard_products_item img:hover {
    box-shadow: 0px 0px 2px black;
}
.dashboard_posts_item a:hover {
    text-decoration: underline;
}
.dashboard_posts {
    margin-top: 30px;
}
.dashboard_posts_items {
    margin-top: 20px;
    display: flex;
}
.dashboard_posts_item,
.dashboard_ann_item,
.dashboard_proects_item {
    display: inline-flex;
    margin-right: 20px;
    flex-wrap: wrap;
}
.dashboard_posts_item a,
.dashboard_ann_item a,
.dashboard_proects_item a,
.dashboard_orders a {
    text-decoration: none;
    color: #000;
}
.dashboard_ann {
    margin-top: 30px;
}
.dashboard_ann_items {
    margin-top: 20px;
}
.dashboard_orders {
    color: black;
    font-size: 15px;
    height: 20px;
}
.dashboard_orders a:hover {
    text-decoration: underline;
}
.dashboard_grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(470px, 1fr) );
    grid-gap: 10px;
    margin-top: 20px;
}
 

/*--------------------------------------------------------------announsm--------------------------------------------------------------------------------*/
.announsements {
    display: flex;
    font-family: Montserrat;
    margin: 50px 0px 0px 50px;
    min-width: 470px;
}
.announsements_categories {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}
.announsements_categories a {
    display: inline-flex;
    text-decoration: none;
    color: rgb(137, 137, 137);
    font-size: 15px;
    margin-top: 4px;
}
.announsements_categories a:hover {
    text-decoration: underline;
}
.announcements_list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
    grid-gap: 40px;
    width: 100%;
    min-width: 300px;
    margin: 0px 50px 0px 20px;
}
.announcements_list_announcement{
    width: 300px;
}
.announcements_list_announcement_photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}
.announcements_list_announcement_photo img {
    max-width: 100px;
    max-height: 100px;
}
.announcements_list_announcement_detail {
    display: flex;
    align-items: center;
    border-bottom: solid rgb(200, 200, 200);
    padding-bottom: 5px;
}
.announcements_list_announcement_name {
    margin-left: 20px;
}
.announcements_list_announcement_title {
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    color: #000;
}
.announcements_list_announcement_title:hover {
    text-decoration: underline;
}
.announcements_list_announcement_info {
    font-size: 10px;
    color: rgb(161, 161, 161);
    margin-top: 5px;
}
.announcements_list_announcement_info a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
.announcements_list_announcement_info a:hover {
    text-decoration: underline;
}
.announcements_list_announcement_body {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
}
.announcements_list_announcement_btns {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: rgb(161, 161, 161);
    justify-content: space-between;
}
.announcements_list_announcement_star:hover,
.announcements_list_announcement_star_selected:hover {
    fill: #f8d887;
}
.announcements_list_announcement_star,
.announcements_list_announcement_star_selected {
    width: 17px;
    cursor: pointer;
}
.announcements_list_announcement_star {
    fill: #dcdcdc;
}
.announcements_list_announcement_star_selected {
    fill: #daa520;
}
.announcement-like {
    display: inline-flex;
    align-items: center;
}
/*--------------------------------------------------------------announsm-detail----------------------------------------------------------------------------*/
.announcement {
    margin: 30px 0px 0px 50px;
    font-family: Montserrat;
}
.announcement_info {
    display: flex;
}
.announcement_info_photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}
.announcement_info_photo img {
    max-width: 150px;
    max-height: 150px;
}
.announcement_info_text {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.announcement_info_text_like {
    display: inline-flex;
    align-self: flex-end;
    align-items: flex-end;
    color: gray;
    font-size: 12px;
}
.announcement_info_text_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin-left: 50px;
}
.announcement_info_text_detail a {
    color: rgb(202, 202, 202);
    font-size: 12px;
    margin-bottom: 10px;
}
.announcement_info_text_detal_title {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}
.announcement_info_text_detal_date {
    font-size: 15px;
    color: rgb(161, 161, 161);
}
.announcement_info_text_detal_date a {
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none;
}
.announcement_info_text_detal_date a:hover {
    text-decoration: underline;
}
.announcement_body {
    font-size: 15px;
    margin-top: 20px;
    max-width: 49%;
    min-width: 470px;
}
.ann_comment {
    width: 470px;
    font-size: 15px;
    font-family: Montserrat;
    margin: 30px 0px 0px 50px;
}
.ann_comment_count {
    font-weight: 600;
    font-size: 18px;
}
.ann_comment_info {
    margin-top: 20px;
}
.ann_comment_info span {
    font-size: 12px;
    display: inline-flex;
    border-bottom: rgb(226, 226, 226) solid;
}
.ann_comment_info a {
    text-decoration: none;
    color: rgb(178, 178, 178);
    font-size: 12px;
    margin-left: 10px;
}
.ann_comment_info_body {
    font-size: 15px;
}
.ann_comment_form form {
    display: flex;
}
.ann_comment_form form button {
    cursor: pointer;
    font-family: Montserrat;
    border: none;
}
.ann_comment_form form button:hover {
    background-color: rgb(154, 154, 154);
}
.ann_comment_form textarea {
    resize: none;
    outline: none;
    border: solid rgb(231, 231, 231);
    width: 570px;
}
.ann_comment_form textarea::placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.ann_comment_form textarea:-ms-input-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.ann_comment_form textarea::-ms-input-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.ann_comment_form textarea::-webkit-input-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.ann_comment_form textarea:-moz-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.ann_comment_form textarea::-moz-placeholder {
    font-family: Montserrat;
    color: rgb(185, 185, 185);
}
.ann_comment_form textarea {
    font-family: Montserrat;
}
.announcement_info_detal_message button {
    border: none;
    font-family: Montserrat;
    cursor: pointer;
    border-radius: 2px;
}
.announcement_info_detal_message button:hover{
    box-shadow: 0px 0px 3px black;
}
.announcement_info_text_like_star,
.announcement_info_text_like_star_selected {
    width: 20px;
    cursor: pointer;
}
.announcement_info_text_like_star:hover,
.announcement_info_text_like_star_selected:hover {
    fill: #f8d887;
}
.announcement_info_text_like_star {
    fill: #dcdcdc;
}
.announcement_info_text_like_star_selected {
    fill: #daa520;
}


/*-----------------------------------------------------------cart-------------------------------------------------------------------------------------------*/
.cart {
    margin: 50px 0px 0px 50px;
    font-family: Montserrat;
}
.cart a {
    color: #000;
}
.cart_table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 585px;
}
.cart_table_item img {
    width: 150px;
}
.cart_table_item img:hover {
    box-shadow: 0px 0px 5px black;
}
.cart_table_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cart_table_item_name {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    margin: 0px 0px 20px 0px;
}
.cart_table_item_name:hover {
    text-decoration: underline;
}
.cart_table_btns button {
    border: none;
    background-color: rgb(229, 229, 229);
    font-family: Montserrat;
    cursor: pointer;
    border-radius: 2px;
    font-size: 15px;
}
.cart_table_btns button:hover {
    box-shadow: 0px 0px 2px black;
}
.cart_table_btns span {
    display: inline-flex;
    justify-content: center;
    min-width: 25px;
}
.cart_table_remove button {
    color: rgb(150, 0, 0);
    font-weight: 900;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    font-family: Montserrat;
}
.cart_table_remove button:hover {
    box-shadow: 0px 0px 2px black;
}
.cart_table_total {
    border-top: gainsboro solid;
    margin: 0px 50px 20px 0px;
}
.cart_table_order button {
    color: white;
    background-color: black;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 15px;
    border-radius: 2px;
    border: none;
    padding: 5px;
    margin-bottom: 50px;
    cursor: pointer;
}
.cart_table_order button:hover {
    background-color: gray;
}

/*----------------------------------bookmark-list---------------------*/
.bookmarks {
    margin: 50px 0px 0px 50px;
    font-family: Montserrat;
}
.bookmarks_list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 20px;
}
.bookmarks_list a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.bookmarks_list a:hover {
    text-decoration: underline;
}

/*----------------------------------news---------------------*/
.news {
    margin: 50px 0px 0px 50px;
    font-family: Montserrat;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

/*----------------------------------------------------------------------chats----------------------------------------------------------------------------*/
.chats {
    display: flex;
    margin: 50px 0px 0px 50px;
    font-family: Montserrat;
}
.chats_chat {
    display: flex;
    flex-direction: column;
}
.chats_chat img {
    width: 50px;
    border-radius: 100px; 
}
.chats_chat a {
    text-decoration: none;
    color: rgb(132, 132, 132);
}
.chats_chat a:hover {
    text-decoration: underline;
}
.chat_frame {
    display: flex;
    flex-direction: column;
}
/*----------------------------------chat-detail---------------------*/
.messages {
    margin: 50px 0px 0px 50px;
    font-family: Montserrat;
}
.message {
    margin-top: 20px;
}
.message .info {
    font-size: 12px;
    color: gray;
}
.message .change a {
    font-size: 12px;
    color: gray;
}

/*--------------------------------------------------------------likes------------------------------------------------------------------------------------*/
.likes {
    margin: 50px 0px 0px 50px;
    font-family: Montserrat;
    display: flex;
}
.likes_menu {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 150px;
}
.likes_menu a {
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(157, 157, 157);
}
.likes_menu a:hover {
    text-decoration: underline;
}
.likes_posts,
.likes_ann {
    display: none;
}

.likes_products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-gap: 40px;
    margin: 0px 40px 0px 40px;
}
.likes_products_item {
    display: flex; 
    flex-direction: column;
}
.likes_products_item_photo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 200px;
    padding: 10px;
    border-bottom: rgb(226, 226, 226) solid 1px;
}
.likes_products_item_photo img {
    max-width: 200px;
    max-height: 250px;
}
.likes_products_item_photo img:hover {
    box-shadow: 0 0 3px black;
}
.likes_products_item_info {
    width: 220px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 13px;
    color: #7E7E7E;
    margin-top: 5px;
}
.likes_products_item_info_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.likes_products_item_info_name a {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 600;
    color: #242424;
}
.likes_products_item_info_name a:hover {
    text-decoration: underline;
}
.likes_products_item_info_info {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.likes_products_item_info_info button {
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    background-color: rgb(238, 238, 238);
    color: #000;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 5px;
    padding: 5px;
    justify-self: center;
}
.likes_products_item_info_info button.selected {
    font-size: 12px;
    border: none;
    color: rgb(181, 181, 181);
}
.likes_products_item_info_info button:hover {
    box-shadow: 0px 0px 3px;
}
.likes_products_item_info_name {
    text-align: start;
}
.likes_products_item_info_like {
    display: inline-flex;
    justify-self: flex-end;
    max-height: 17px;
}
.likes_products_item_info_like_btn,
.likes_products_item_info_like_btn_selected {
    cursor: pointer;
    width: 17px;
}
.likes_products_item_info_like_btn:hover,
.likes_products_item_info_like_btn_selected:hover {
    fill: rgb(214, 138, 138);
}
.likes_products_item_info_like_btn {
    fill: #dcdcdc;
}
.likes_products_item_info_like_btn_selected {
    fill:#8e2626;
}