{% extends "shop/bas.html" %}

{% block title %}Dashboard{% endblock %}

{% load static %}

{% block content %}      						
	
<div class="profile-detail">

    {% if profile.user == request.user %}
    <p>Welcome to your profile.
        You can <a href="{% url "edit" %}">edit your profile</a> or
        <a href="{% url "password_change" %}">change your password</a>.
    </p>
    {% endif %}

	{% load thumbnail %}
    {% thumbnail profile.photo "200" as im %}
    <img src="{% if profile.photo %}{{ im.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
    {% endthumbnail %}

    <h1>{{ profile.username }}</h1>
    <span>{{ profile.user.first_name }}</span>
    <span>{{ profile.user.last_name }}</span>
    <p>{{ profile.date_of_birth }}</p>
    {% for category in profile.category.all %}
    <a href="{{ category.get_absolute_url }}"><span>{{ category }}</span></a>
    {% endfor %}
    <p>{{ profile.about|linebreaks }}</p>
    <a href="{% url "blog:post_list" %}"><p>статьи</p></a>
    {% for post in posts %}
    <a href="{{ post.get_absolute_url }}"><span>{{ post }}</span></a>
    {% endfor %}
    <p>товары</p>
    {% for product in products %}
    <a href="{{ product.get_absolute_url }}"><span>{{ product }}</span></a>
    {% endfor %}
    
    {% if profile.user == request.user %}
    <a href='{% url "orders:order_list" %}'><p>заказы</p></a>
    {% endif %}

</div>
						

{% endblock %}  